
.main{
    display: flex;
    margin: 100px 0;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: space-between; */
  }
  
  .item-actions{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .control-buttons{
    display: flex;
    gap: 10px;
  }

  .btn{
    text-align: center;
    height: 40px;
    width: 85px;
    border-radius: 100px;  
    font-family: "Montserrat", system-ui;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    background-color: #081E340D;
    border: none;
  }

  .selected{
    color: white;
    background-color: #081E346B;
  }

  .add-btn{
    background-color: #081E34;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    /* opacity: 0px; */
  }

  .add-btn img{
    width: 24px;
    height: 24px;
  }

  .to-do-list{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 20px;
  }

  .to-do-item{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .to-do-item img{
    width: 35px;
    height: 35px;
  }

  #todo-check{
    width: 24px;
    margin: 0;
    padding: 0;
    height: 24px;
    cursor: pointer;
    accent-color: transparent;
    /* border-color: #081E340D; */
}

#todo-text{
    height: 33px;
    width: 750px;
    /* border: none; */
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

    outline: 0;
    border-width: 0 0 2px;
    border-color: blue
}


#todo-text:focus{
    outline: none;
}
#btn {

    margin: 0;
    padding: 0 10px;
    text-align: start;
    width: 80px;
    height: 30px;
    font-family: "Montserrat", system-ui;
    font-size: 17px;
    border-radius: 20px;  
    /* font-weight: 500;
    line-height: 18px; */
    text-align: left;
    /* background-color: #081E340D; */
    /* border: none; */
    outline: 0;
    text-align: center;
    border-width: 0 0 1px;
    border-color: #081E340D
}

.save{
    margin: 0;
    /* color: red; */
    text-align: center;

    background-color: #081E340D;

    /* padding: 0; */
}

.edit{
    margin: 0;
    text-align: center;
}