body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  background-color: #F1F1F1;
  height: 100%;
}



.App{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px 200px 10px 200px;
  height: calc(100vh - 50px);
}

.Header{
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: column;
  /* gap: -10px; */
  align-items: flex-start;
}

.Header div{
  display: flex;
  align-items: center;
}
.Header h1{
  font-size: 34px;
}

.Header p{
  margin-top: 5px; 
  margin-left: 15px;
  font-size: 20px;
}

.Header img{
  height: 70px; 
  width: 70px;
  border-radius: 50%;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.footer *{
  font-size:medium;
}

@media (max-width: 480px){

  .App {
    margin: 20px 50px;
  }
  .Header h1{
    font-size: 25px;
    
  }
  
  .Header p{
    font-size: 16px;
    text-align: center;
  }

  .footer *{
    font-size: 10px;
  }

  
  .footer{
    margin: -20px;
  }

  
  
}

@media (max-width: 760px) {
  .App {
    margin: 40px 60px;
  }
}

@media (max-width: 960px) {
  .App {
    margin: 40px 80px;
  }
}

@media (max-width: 1200px) {
  .App {
    margin: 40px 100px 10px 100px;
  }
}